.error-message--container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.error-message--color-error {
  color: red;
}

.error-message--color-warning {
  color: orange;
}

.error-message--color-success {
  color: green;
}